.contact {
  width: 100%;
  height: 885px;
  background: url(../../Image/last-page.jpg) no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: black;
}

/* Contact */
.contact__mail {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em rgba(2, 255, 255, 0.425);
  font-size: 18px;
  padding-bottom: 5%;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.contact__mail a {
  text-decoration: none;
}

.contact__mail :hover {
  color: #00ff37;
  text-shadow: 1px 1px 2px black, 0 0 1em rgba(0, 255, 55, 0.432);
}

.contact__phone {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em rgba(2, 247, 255, 0.459);
  font-size: 18px;
  padding-bottom: 5%;
  letter-spacing: 2px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.contact__phone a {
  text-decoration: none;
}

.contact__phone :hover {
  color: #00ff37;
  text-shadow: 1px 1px 2px black, 0 0 1em rgba(0, 255, 55, 0.432);
}

.contact__inst {
  padding-bottom: 5%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact__inst .fa-instagram {
  font-size: 50px;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact__inst :hover {
  color: #00ff37;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact__In {
  padding-bottom: 5%;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.contact__In .fa-linkedin-in {
  font-size: 50px;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact__In :hover {
  color: #00ff37;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Form */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__message {
  padding: 5px 100px 5px 5px;
  margin-bottom: 5%;
  color: black;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.form__message:hover {
  padding: 5px 100px 100px 5px;
}

.form__btn {
  font-size: 24px;
  padding: 5px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(80.71%, #979797));
  background: linear-gradient(180deg, black, #979797 80.71%);
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em #1b1919;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 2em;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  outline: none;
}

.form__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(78.71%, black));
  background: linear-gradient(180deg, white, black 78.71%);
  -webkit-box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
}

.form__btn:active {
  -webkit-transform: scale(0.8) translateY(5%);
          transform: scale(0.8) translateY(5%);
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@media screen and (max-width: 700px) {
  .contact {
    width: 100%;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0 5%;
  }
  .conteiner-contact {
    padding-bottom: 10%;
  }
}
/*# sourceMappingURL=contact.css.map */