.instuction{
  width: 100%;
  max-height: 1000px;
  background: url(../../Image/f2.jpg) no-repeat center center;
}

.instuction__title{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 255, 255);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
}

.instuction__list{
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 5%;
}

.instuction__item{
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 3em rgb(0, 0, 0);
  padding-bottom: 5%;
  list-style-type: none;
  z-index: 1;
}

.instuction__item:hover{
  animation-name: zoom;
  animation-duration: 5s;
  background-color: rgba(240, 248, 255, 0.596);
  // text-align: center;
  padding: 2.5% 1% 2.5% 1%;
  color: cyan;
  transition: 0.5s linear;
  z-index: 2;
}

@keyframes zoom {
  0%   {transform: scale(1.0, 1.0);}
  50%  {transform: scale(1.5, 1.5);}
  100%  {transform: scale(1.0, 1.0);}
}

.fa-tools{
  color: cyan;
  margin-right: 3%;
}

@media screen and (max-width:1024px) {
  .instuction__item:hover{
    animation-name: zoom;
    animation-duration: 5s;
    background-color: rgba(240, 248, 255, 0.596);
    // text-align: center;
  }

  @keyframes zoom {
    0%   {transform: scale(1.0, 1.0);}
    50%  {transform: scale(1.0, 1.0);}
    100%  {transform: scale(1.0, 1.0);}
  }
}

@media screen and (max-width:830px) {
  .instuction__list{

    padding: 0 5% 5% 5%;
  }
}