.conteiner {
  width: 100%;
  height: 885px;
  background: url(../Image/main-page.jpg) no-repeat center center;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: black;
  z-index: 10;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__item {
  list-style-type: none;
  padding-right: 30px;
}

.header__item:last-child {
  padding-right: 0px;
}

.header__item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black, 0 0 1em #1b1919;
}

.header__item:hover {
  color: #09ff00;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.active {
  color: #09ff00;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.content-block {
  max-width: 1000px;
  max-height: 300px;
  margin: 0 auto;
  color: #fff;
  padding: 10% 5% 0 5%;
  text-shadow: 1px 1px 2px black, 0 0 3em black;
}

.content-block__title {
  text-align: center;
  text-transform: uppercase;
  color: greenyellow;
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.content-block__title--color {
  color: cyan;
  padding: 5px;
}

.content-block__slogan {
  text-align: center;
  text-transform: uppercase;
  color: aqua;
  font-size: 18px;
  letter-spacing: 2px;
}

.content-block-text {
  padding-top: 35%;
}

.content-block-text__text {
  text-align: left;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(255, 255, 255, 0.164);
  padding: 15px 15px 5px 15px;
}

.content-block-text__text:last-child {
  padding-bottom: 15px;
}

.fa-ellipsis-h {
  color: chartreuse;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0%;
  }
}

.scroll {
  width: 40px;
  margin: auto;
  position: relative;
  bottom: -500px;
  -webkit-animation: .7s down  infinite alternate;
          animation: .7s down  infinite alternate;
}

.scroll .fa-angle-down {
  color: white;
  border: solid 1px white;
  border-radius: 50%;
  padding: 12px 15px 12px 16px;
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}

.fa-angle-down:hover {
  color: aqua;
  border: solid 1px aqua;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navbar {
  display: none;
}

.navbar__btn {
  display: none;
}

.navbar .center-menu #hidden {
  display: none;
}

.fa-bars {
  color: white;
  font-size: 30px;
  padding: 12px 15px 12px 16px;
  border: solid 1px black;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
}

.fa-bars:hover {
  color: aqua;
  border: solid 1px #51ff00;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.fa-bars:active {
  -webkit-transform: scale(0.8) translateY(5%);
          transform: scale(0.8) translateY(5%);
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@media screen and (max-width: 760px) {
  .header {
    display: none;
  }
  .header__item {
    list-style-type: none;
    padding-bottom: 10%;
    padding-right: 0;
  }
  .header__item:last-child {
    padding-right: 0;
    padding-bottom: 0;
  }
  .navbar {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
  .center-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .center-menu #hidden {
    background-color: black;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    scroll-behavior: smooth;
  }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__btn {
    width: 40px;
    margin: 3% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
  }
}
/*# sourceMappingURL=style-header.css.map */